In [1]:
import pandas as pd
import numpy as np

import re

from py2neo import authenticate, Graph, Node, Relationship


import os
import csv
import pickle

from time import sleep
from timeit import default_timer as timer
from datetime import datetime

from IPython.display import display, HTML

# custom general helper functions for this project
import custom_utils as cu
import importlib

In [2]:
from collections import defaultdict

In [3]:
# reload imports as needed
importlib.reload(cu);

In [4]:
# set up Pandas options
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 100)
pd.set_option('display.precision', 3)
pd.options.display.float_format = '{:.2f}'.format

In [5]:
pd.options.display.max_colwidth = 100

In [6]:
# unpickle
with open("pickles/en_1218_louvain_communities_for_NLP.pkl", 'rb') as picklefile: 
    louvain_communities_for_NLP = pickle.load(picklefile)

louvain_communities_for_NLP.head(20)

,external_search_traffic,link_in_traffic,louvain_community,search_in_traffic,title
0,4576854.00,1108189.00,3,5630.00,George_H._W._Bush
1,3538068.00,639353.00,4,6451.00,Jason_Momoa
2,3475113.00,223635.00,9,23563.00,2.0_(film)
3,3251996.00,682992.00,4,10416.00,Bird_Box_(film)
4,3020671.00,31170.00,1,nan,Main_Page
5,2634665.00,408421.00,4,34309.00,Aquaman_(film)
6,2328884.00,200893.00,4,192.00,Bird_Box
7,2231176.00,575481.00,3,3945.00,Priyanka_Chopra
8,2226602.00,117115.00,5,958.00,List_of_most-disliked_YouTube_videos
9,2050628.00,336621.00,5,4161.00,Freddie_Mercury
10,1923035.00,109379.00,3,12636.00,Zero_(2018_film)
11,1674952.00,907853.00,3,1273.00,George_W._Bush
12,1645911.00,137326.00,9,6821.00,K.G.F:_Chapter_1
13,1568511.00,776311.00,5,1457.00,Nick_Jonas
14,1553836.00,260062.00,4,26665.00,Spider-Man:_Into_the_Spider-Verse
15,1457685.00,98173.00,4,3488.00,Penny_Marshall
16,1370107.00,442623.00,3,3236.00,Jimmy_Carter
17,1237938.00,277013.00,4,3417.00,Macaulay_Culkin
18,1198082.00,381422.00,3,941.00,List_of_highest-grossing_Indian_films
19,1175878.00,186277.00,3,2082.00,"Mary,_Queen_of_Scots"

In [37]:
louvain_communities_for_NLP[louvain_communities_for_NLP.external_search_traffic.isnull()][:5]

,external_search_traffic,link_in_traffic,louvain_community,search_in_traffic,title
2401006,nan,12.00,2,nan,Orange-brown_Atlantic_tree-rat
2401007,nan,16.00,4,nan,Eilis_Kirwan
2401008,nan,10.00,1,nan,Emile_Waxweiler
2401009,nan,213.00,7,nan,Sun_King_(disambiguation)
2401010,nan,29.00,3,nan,Ahmet_Lepenica

In [75]:
community_deepWiki_stats = louvain_communities_for_NLP[louvain_communities_for_NLP.external_search_traffic.isnull()] \
    .groupby("louvain_community")[["title"]].count()
    
community_deepWiki_stats.columns = ["deep_wiki_articles_count"]

community_deepWiki_stats[:10]

                   deep_wiki_articles_count
louvain_community
0                                      3311
1                                     16439
2                                     28617
3                                     71293
4                                     22471
5                                     27513
6                                      5251
7                                     37641
8                                     10764
9                                      2280

In [36]:
# unpickle
with open("pickles/en_1218_louvain_communities.pkl", 'rb') as picklefile: 
    louvain_communities = pickle.load(picklefile)

louvain_communities.head(5)

,articles_count,external_search_traffic,link_edges_count,link_traffic,louvain_community,search_edges_count,search_traffic,total_visits,avg_external_search_traffic,avg_link_traffic_per_edge,avg_visits_per_article,link_network_density,link_network_density_delta
0,507642,535227964,3385462,329625267,3,102124,4188154,1124655652,1054.34,97.36,2215.45,0.00,5.67
1,302120,288453340,2037310,140416238,7,41383,1257742,592415339,954.76,68.92,1960.86,0.00,5.74
2,267541,626988532,2540296,461475849,4,98857,3938984,1350876078,2343.52,181.66,5049.23,0.00,8.50
3,233396,150495954,1209989,84128861,10,25894,932688,322074785,644.81,69.53,1379.95,0.00,4.18
4,223864,219874886,1327054,151652674,5,32332,930331,468611692,982.18,114.28,2093.29,0.00,4.93

In [73]:
louvain_communities_size = louvain_communities.set_index("louvain_community").articles_count
louvain_communities_size.head()

louvain_community
3     507642
7     302120
4     267541
10    233396
5     223864
Name: articles_count, dtype: int64

In [77]:
community_deepWiki_stats = community_deepWiki_stats.join(louvain_communities_size)
community_deepWiki_stats.head()

                   deep_wiki_articles_count  articles_count
louvain_community
0                                      3311           29397
1                                     16439          218001
2                                     28617          209065
3                                     71293          507642
4                                     22471          267541

In [78]:
community_deepWiki_stats["deep_wiki_articles_proportion"] = \
    community_deepWiki_stats.deep_wiki_articles_count / community_deepWiki_stats.articles_count
    
community_deepWiki_stats.head()

,deep_wiki_articles_count,articles_count,deep_wiki_articles_proportion
louvain_community,,,
0,3311,29397,0.11
1,16439,218001,0.08
2,28617,209065,0.14
3,71293,507642,0.14
4,22471,267541,0.08

In [83]:
# unpickle
with open("pickles/en_1218_louvain_community_topics_dict.pkl", 'rb') as picklefile: 
    community_topics_dict = pickle.load(picklefile)

community_topics_dict[22]["topic_words"][:5]

['grand', 'prix', 'championship', 'seri', 'engin']

In [84]:
community_ids = community_deepWiki_stats.index.values

for i in community_ids:
    
    #print(community_deepWiki_stats.at[i, "deep_wiki_articles_count"] )
    
    community_deepWiki_stats.at[i, "topic_words"] = " ".join(community_topics_dict[i]["topic_words"])

In [85]:
community_deepWiki_stats[:10]

,deep_wiki_articles_count,articles_count,deep_wiki_articles_proportion,topic_words
louvain_community,,,,
0,3311,29397,0.11,station railway class line rail metro list park train transport british london south road tram c...
1,16439,218001,0.08,list disambigu softwar power station number engin space unit program network model theorem group...
2,28617,209065,0.14,list disambigu syndrom nation park diseas food black acid hospit state red white cell medic dog ...
3,71293,507642,0.14,list unit state footbal elect nation th constitu parti battl john film st district war cup disam...
4,22471,267541,0.08,film list seri tv actor comic season award disambigu episod school john charact novel man star l...
5,27513,223864,0.12,album song band list discographi love music live musician record tour disambigu ep best world aw...
6,5251,81807,0.06,univers school list colleg bank institut compani state intern educ group law technolog scienc un...
7,37641,302120,0.12,list disambigu church al john novel saint languag histori st film battl ii cathol roman book wil...
8,10764,73172,0.15,airport air uss list class hms airlin intern squadron flight submarin forc aircraft ship th avia...
9,2280,42420,0.05,film list templ award sri tamil actor actress tv colleg disambigu best lanka seri station krishn...

In [89]:
community_deepWiki_stats[community_deepWiki_stats.articles_count >= 100].sort_values("deep_wiki_articles_proportion", ascending=False)[:50]

,deep_wiki_articles_count,articles_count,deep_wiki_articles_proportion,topic_words
louvain_community,,,,
59,147,159,0.92,kingdom list locat unit templecomb zeal st west cornwal new aa ak old north monachorum zouch eas...
196,62,111,0.56,art tabl year archaeolog architectur
136,44,120,0.37,music paul rapin comet hanov treati peac vienna del francesco giudic
84,76,278,0.27,orchestra symphoni philharmon state youth dispatch new chamber san album fiedler pop unit sander...
12,13319,49144,0.27,olymp championship summer men world women game athlet metr open winter cup singl list swim tenni...
160,29,111,0.26,cyprus elect cypriot legisl presidenti parti democrat list movement newspap european anastasiad ...
19,5206,22194,0.23,footbal leagu cup nation malaysia district stadium championship fc list team asian afc station f...
44,717,3171,0.23,snooker dart world championship player master open pdc cup uk bdo leagu pool grand rank season t...
76,35,166,0.21,bc decad mentuemhat
123,57,273,0.21,album sound pass joe juli yusef lateef london blue jazz live song randi virtuoso meredith monk s...
130,57,297,0.19,list microbacterium haiti album flindersia dangi colton drug forest meyer krameria richard dorst...
298,19,102,0.19,album sea big great song musician spirit west newfoundland doug john mann maclean tara simani mu...
34,420,2263,0.19,hurrican season cyclon typhoon tropic atlant storm pacif list ocean indian north south region au...
173,32,188,0.17,municip fk macedonia region statist footbal macedonian leagu republ skopj kavadarci second berov...
33,2011,12265,0.16,song eurovis contest tv list radio album televis junior channel singer newspap seri band media u...
156,23,148,0.16,malta maltes elect general parti list parliament minist prime european mifsud polit govern democ...
8,10764,73172,0.15,airport air uss list class hms airlin intern squadron flight submarin forc aircraft ship th avia...
108,63,431,0.15,school colleg time team maldiv list seri sri lanka maldivian moham intern ibrahim elect central ...
39,631,4444,0.14,scout list mount mountain climb knot everest swiss world switzerland peak feder glacier hitch bo...
3,71293,507642,0.14,list unit state footbal elect nation th constitu parti battl john film st district war cup disam...
2,28617,209065,0.14,list disambigu syndrom nation park diseas food black acid hospit state red white cell medic dog ...
16,2264,16599,0.14,list la mexico tv seri brazil mexican el languag josé brazilian del film carlo municip los natio...
15,3285,24444,0.13,wrestl championship world vs ufc wrestler list boxer box fighter fight heavyweight wwe professio...
17,7647,57734,0.13,film list china seri tv chines hong kong district lee song station kim korean love univers peopl...
21,5786,44664,0.13,cricket rugbi list new south australia australian union leagu team wale nation cup footbal world...
7,37641,302120,0.12,list disambigu church al john novel saint languag histori st film battl ii cathol roman book wil...
5,27513,223864,0.12,album song band list discographi love music live musician record tour disambigu ep best world aw...
63,18,147,0.12,ender novel game shadow stori card seri short earth list alvin disambigu southern virginia everf...
233,13,108,0.12,tueni delaney spain jam court pragu list tower maryknol ford keat suprem build slaney el ezra ja...
128,20,168,0.12,hillsong album award dive gma unit song th worship brook fraser battistelli francesca god free l...
10,27302,233396,0.12,state list new counti school unit california york station park district elect john citi texa hig...
0,3311,29397,0.11,station railway class line rail metro list park train transport british london south road tram c...
20,1118,10103,0.11,chess game hors card poker world list championship board stake nation player race cup grand disa...
11,12029,110397,0.11,footbal team season school basketbal high list american basebal state leagu men bowl new colleg ...
47,176,1629,0.11,comic asterix kingdom unit novel list tintin jeev new york charact time adventur seri jack magaz...
74,29,269,0.11,nanci draw mysteri secret clue boy hardi list old hide haunt danger book swift tom bayport shado...
22,4009,37983,0.11,grand prix championship seri engin race car formula list ford honda motorcycl motor world automo...
14,1881,17954,0.10,hockey ice season list nhl cup world leagu championship nation school junior men fm team arena s...
205,11,114,0.10,honor novel honorvers war weber list david ringo john empir foundat bibliographi rise march disa...
42,126,1311,0.10,film album russian list actor yuri blue aleksandr natalya deacon ivan mikhail vladimir band tale...
46,185,2160,0.09,novel middl earth ring dune lord list seri tolkien film disambigu game hobbit beck king fowl art...
4,22471,267541,0.08,film list seri tv actor comic season award disambigu episod school john charact novel man star l...
13,5591,68036,0.08,game list video episod charact seri disambigu film dragon world war ii super manga album adventu...
1,16439,218001,0.08,list disambigu softwar power station number engin space unit program network model theorem group...
25,1186,16311,0.07,philippin list season tv seri film manila brother big san del pba univers citi elect survivor st...
31,232,3292,0.07,state nigeria list film languag governor nigerian univers peopl lago north river south polytechn...
24,700,10732,0.07,prostitut fashion film list disambigu stamp sex traffic cloth pornographi human magazin award sh...
6,5251,81807,0.06,univers school list colleg bank institut compani state intern educ group law technolog scienc un...
27,153,2632,0.06,upazila bangladesh colleg univers district dhaka rahman list school islam chowdhuri sadar medic ...
54,15,278,0.05,wire season charact baltimor michael barksdal littl robert william burn goodnight sobotka bloom ...