# Exploring Wikipedia clickstream data: the English Wiki in December 2018    

## Graph modeling

### 1. Introduction  
This notebook contains graph modeling steps for the English Wikipedia clickstream dataset for December 2018. It is a part of my project about the usage patterns of Wikipedia across language domains and over time.

### 2. Notebook setup

#### Imports

In [1]:
import pandas as pd
import numpy as np

#### Settings

In [2]:
# set up Pandas options
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 100)
pd.set_option('display.precision', 3)
pd.options.display.float_format = '{:.2f}'.format

#### Helper functions

#### Read in, clean and check the data

In [7]:
# Get the cleaned tsv data onto AWS from my local machine

In [8]:
# Print the head of the tsv file

In [3]:
# Read the cleaned up EN clickstream tsv file into neo4j
neo4j_data_folder = ""
file_name = "clickstream-enwiki-2018-12_clean.tsv"
filepath = neo4j_data_folder + file_name

In [4]:
# Replace the false missing value NaNs with string "NaN"s
df['prev'] = df['prev'].fillna('NaN')
df['curr'] = df['curr'].fillna('NaN')

In [5]:
df.sort_values("n", ascending=False, inplace=True)

In [6]:
df.head(10)

                    prev               curr      type          n
7908180      other-empty          Main_Page  external  492341152
772288    other-external       Hyphen-minus  external   17676430
765759       other-empty       Hyphen-minus  external   15498618
7831692   other-internal          Main_Page  external    8826536
21252458    other-search  George_H._W._Bush  external    4576854
3488262      other-empty           XHamster  external    4281194
23951757    other-search        Jason_Momoa  external    3538068
18403529    other-search         2.0_(film)  external    3475113
1830737     other-search    Bird_Box_(film)  external    3251996
7897786     other-search          Main_Page  external    3020671