In [1]:
import pandas as pd
import numpy as np
import os 

from py2neo import authenticate, Graph

In [2]:
# To avoid typing neo4j password into the notebook each time,
# I'm saving it in a separate file and reading it in with the helper function below.
def read_n4jpass():
    """Reads neo4j connection credentials from .n4jpass file in current folder.
    Expects one value per line, ignores comments, e.g.:
    # comments here
    user=neo4j
    password=secretStuff123
    """
    
    cur_folder = os.getcwd()
    
    with open(cur_folder + '/.n4jpass', 'r') as f:
        lines = f.readlines()

    d = {}
    for l in lines:
        if l.strip() and (l[0] != '#'):
            k, v = l.strip().split('=')
            d[k] = v

    return d

In [3]:
n4j_cred = read_n4jpass()

In [4]:
# set up authentication parameters
authenticate("localhost:7474", n4j_cred["user"], n4j_cred["password"])

In [5]:
# connect to authenticated graph database
graph = Graph("http://localhost:7474/db/data/")

In [6]:
# run a test query
test = graph.data("call db.schema()")
pd.DataFrame(test)

                                               nodes relationships
0  [{'name': 'Article', 'indexes': [], 'constrain...            []

In [7]:
# set up Pandas options
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 100)
pd.set_option('display.precision', 3)
pd.options.display.float_format = '{:.2f}'.format

In [8]:
r = graph.data('CALL db.indexes;')
pd.DataFrame(r)

,description,failureMessage,id,indexName,progress,properties,provider,state,tokenNames,type
0,INDEX ON :Article(title),,1,index_1,100.00,[title],"{'key': 'native-btree', 'version': '1.0'}",ONLINE,[Article],node_unique_property

In [9]:
check = graph.data("MATCH (n:Article) RETURN count(n)")
pd.DataFrame(check)

   count(n)
0   2704149

In [14]:
check = graph.data("MATCH (n:Article) RETURN count(n)")
pd.DataFrame(check)

   count(n)
0   2704238

In [16]:
check = graph.data("MATCH (n:Article) RETURN count(n)")
pd.DataFrame(check)

   count(n)
0   2704294

In [11]:
check2 = graph.data("MATCH (n:Article) RETURN n LIMIT 10")
pd.DataFrame(check2)

                                           n
0    {'title': 'First_Families_of_Pakistan'}
1                {'title': 'Jehangir_Wadia'}
2  {'title': 'The_Lawrence_School,_Sanawar'}
3                  {'title': 'Wadia_family'}
4                    {'title': 'Ness_Wadia'}
5                         {'title': 'GoAir'}
6      {'title': 'Lovji_Nusserwanjee_Wadia'}
7                 {'title': 'Sangh_Parivar'}
8                         {'title': 'Parsi'}
9                 {'title': 'Bombay_Dyeing'}

In [15]:
check2 = graph.data("MATCH (n:Article) RETURN n LIMIT 10")
pd.DataFrame(check2)

                                           n
0    {'title': 'First_Families_of_Pakistan'}
1                {'title': 'Jehangir_Wadia'}
2  {'title': 'The_Lawrence_School,_Sanawar'}
3                  {'title': 'Wadia_family'}
4                    {'title': 'Ness_Wadia'}
5                         {'title': 'GoAir'}
6      {'title': 'Lovji_Nusserwanjee_Wadia'}
7                 {'title': 'Sangh_Parivar'}
8                         {'title': 'Parsi'}
9                 {'title': 'Bombay_Dyeing'}